# Installing necessary packages

In [ ]:
!pip install faker

In [6]:
from faker import Faker
fake = Faker()

In [7]:
from random import randint 
import pandas as pd

# Creating a dataframe with synthetic data

In [27]:
def input_data(x):
   
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'id']= randint(10000, 99999)
        data.loc[i,'name']= fake.name()
        data.loc[i,'age']= randint(18, 89)
        data.loc[i,'address']= fake.address()
    return data
   

input_data(20)

,id,name,age,address
0,42166.0,Aaron Bauer,79.0,"0141 Medina Spring\nKramerland, FL 61849"
1,88920.0,Heather Lewis,67.0,"309 Tiffany Rue Suite 717\nVanessaborough, NY ..."
2,51311.0,Zachary Fletcher,62.0,"487 Acevedo Forge\nNorth Stacy, HI 03313"
3,78356.0,Brian Grimes,76.0,"60721 Gross Via Suite 083\nArnoldview, IN 04936"
4,44025.0,Rachel Solis,19.0,"853 Susan Forest\nSolismouth, MN 39566"
5,76671.0,Dr. Deborah Powers,79.0,"PSC 4276, Box 6120\nAPO AA 77745"
6,50293.0,Jeffrey Stuart,55.0,"172 Rachel Meadow\nEast Matthewland, MP 01287"
7,24725.0,Joshua George,62.0,"329 Carolyn Mountain\nKimberlyborough, MS 62299"
8,94129.0,Rhonda Cook,73.0,"3510 Fuller Skyway\nEast Edwardberg, WA 96151"
9,71910.0,Danielle Hess,84.0,"226 Jones Wall\nSouth Jeremyville, KS 43773"
10,46845.0,Mr. Christopher Vazquez,45.0,"5942 Scott Vista Apt. 705\nJeffmouth, UT 48588"
11,52408.0,Amy Rivera,72.0,"2760 Welch Brook\nNew Melissa, SD 85817"
12,93204.0,Karen Lambert,31.0,"16513 Miller Orchard\nNew Derrick, WI 89032"
13,64657.0,Christopher Gonzalez,70.0,"8883 Vaughn Underpass Apt. 097\nBrianshire, IA..."
14,72588.0,Rhonda Mckinney,19.0,"06359 Scott Forge\nMillershire, PR 20059"
15,74619.0,Olivia Nelson,47.0,2132 Ashley Mountains Suite 093\nWest Cherylbu...
16,47843.0,Anthony Brown,23.0,"PSC 2407, Box 0555\nAPO AA 64794"
17,72813.0,Kathryn Williams,33.0,"0648 Brown Cape Suite 570\nCarrollstad, AS 21301"
18,90960.0,Jonathan Cochran MD,21.0,"15673 Andrea Common\nNew Amandachester, ME 55693"
19,29800.0,Shelley Smith,23.0,"570 Ashley Fields\nEast Patriciachester, TN 04194"